<div class="container-fluid pb-5 pt-4">
  <div class="row">
    {% for post in data.posts|sort((a, b) => (b['is_featured'] <=> a['is_featured'])) %}
      <div class={{ post['is_featured'] is same as(true) ? "col-12" : "col-6" }}>
        <div id={{ "post" ~ loop.index0 }} class="card bg-dark mb-4 posts border border-white">
          <img
          class="border-bottom border-white" 
          src={{ post['is_featured'] is same as(true) ? post['thumbnail_uri'][0]|image_style('featured_post_thumbnail') : post['thumbnail_uri'][0]|image_style('post_thumbnail')}}>
          <div class="card-body">
            <div class="text-white author">
              Created on
              {{post['created']|date('j F, Y')}}
              by
              <a class="link" href={{'user/' ~ post['uid']}}>{{post['user_name']}}</a>
            </div>
            <span>
              <b class="card-title fs-3 text-white">{{post['title']}}</b>
            </span>
            <p id={{ "card-text" ~ loop.index0 }} class="card-text text-white">{{post['body'].length > 200 ? post['body']|striptags : post['body']|striptags|slice(0, 197) ~ '...' }}</p>
            <a id={{ "btn" ~ loop.index0 }} href={{'blog/' ~ post['id'] }} class="btn btn-secondary">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
