<div class="container-fluid">
  <div class="row">
    <div class="card header bg-dark rounded-0">
      <div class="p-5 text-center text-white">{{ page.header }}</div>
    </div>
    <div id="page-menu" class="menu menu-bg-light">
      <div>{{ page.primary_menu }}</div>
    </div>
    {% if page.featured %}
      <div class="featured">
        <div class="col-12 mb-24">
          {{ page.featured }}
        </div>
      </div>
    {% endif %}
  </div>
    <div class="row bg-black">
      <div class="col-3">{{ page.sidebar_first }}</div>
      <div class="col-6">{{ page.content }}</div>
      <div class="col-3">{{ page.sidebar_second }}</div>
    </div>
  <div class="row">
    <div class="card footer bg-dark rounded-0">
      <div class="text-center text-white p-5">
        {{ page.footer }}
      </div>
    </div>
  </div>
</div>
